/*
   BACKGROUND SIZE
   Base:
    bg = background-size
   Modifiers:
    cv = cover
    cn = contain
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/
.bg-cv { background-size: cover; }
.bg-cn { background-size: contain; }
@media screen and (min-width: 30em) {
 .bg-cv-ns { background-size: cover; }
 .bg-cn-ns { background-size: contain; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
 .bg-cv-m { background-size: cover; }
 .bg-cn-m { background-size: contain; }
}
@media screen and (min-width: 60em) {
 .bg-cv-l { background-size: cover; }
 .bg-cn-l { background-size: contain; }
}
