<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      Tachyons - New
    </title>
    <meta name="author" content="TODO">
    <meta name="description" content="TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/t.min.css">
  </head>
  <body>
    <header class="pv5 pv6-ns ph2 ph4-ns">
      <h1 class="f1 f-headline-ns mb0 pb0">Welcome to your new Tachyons project</h1>
      <h2 class="f2 f1-ns i system-serif mid-gray">Functional css for humans</h2>
    </header>
    <div class="ph2 ph4-ns pv5 pv6-ns bg-near-white tc">
      <p class="f6 gray">
        Built with <a class="link dim black" href="http://tachyons.io">Tachyons</a>
      </p>
    </div>
  </body>
</html>
